* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s ease;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --mainTXT: #4D4D4D;
    --paraTXT: #717171;
    --para2TXT: #89939E;
    --buttColor: #4CAF4F;
    --backColor: #F5F7FA;
}



/* start Hadi style */

.celander {

    .celander-container {
        padding: 3rem;
        display: flex;
        align-items: center;
        gap: 4rem;
        justify-content: center;

        .celander-content {
            width: 661px;
            height: 308px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .celander-text {
                width: 100%;
                height: 224px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                h1 {
                    width: 601px;
                    height: 88px;
                    color: var(--mainTXT);
                    font-size: 36px;
                }
                p {
                    width: 601px;
                    height: 88px;
                    color: var(--paraTXT);
                    line-height: 20px;
                }
            }
            button {
                color: white;
                cursor: pointer;
                text-align: center;
                width: 151px;
                height: 52px;
                border-radius: 4px;
                background-color: var(--buttColor);
            }
        }

    }
}

@media (max-width:992px) {
    body {
        width: max-content;
    }
    .celander-container {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}

.customers {
    background-color: var(--backColor);
    margin-top: 6rem;
    .customers-container {
        padding: 3rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        justify-content: center;
        .customers-content {
            width: 748px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            .customers-text {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 16px;

                p {

                    color: var(--paraTXT);
                    line-height: 24px;
                    font-size: 16px;
                }
                .Name {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    h3 {
                        color: var(--buttColor);
                        font-size: 20px;
                        line-height: 28px;
                        font-weight: 600px;
                    }
                    p {
                        color: var(--para2TXT);
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                .banners-text {
                    height: 48px;
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    .banners {
                        width: 493px;
                        height: 48px;
                        display: flex;
                        align-items: center;
                        gap: 41px;
                    }
                    .Meet {
                        width: 223px;
                        height: 44px;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        h3 {
                            width: 188px;
                            height: 28px;
                            color: var(--buttColor);
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 28px;
                        }
                    }
                }
            }
        }

    }
}

@media (max-width:992px) {
    .customers-container {
        flex-direction: column;
        align-items: center;
        .banners-text {
            flex-direction: column;
        }
    }
}

.community_update {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .community-content1 {
        height: 124px;
        width: 748px;
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        h1 {
            height: 44px;
            color: var(--mainTXT);
            line-height: 44px;
            font-weight: 600;
            font-size: 36px;
        }
        p {
            width: 628px;
            color: var(--paraTXT);
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
    }
    .community-content2 {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 4rem;
        .each-community {
            width: 368px;
            height: 372px;
            position: relative;
            img {
                width: 100%;
                height: 286px;
                border-radius: 8px;
            }
            .each-text {
                position: absolute;
                width: 317px;
                height: 176px;
                padding: 16px;
                background-color: var(--backColor);
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                left: 50%;
                transform: translateX(-50%);
                top: 12rem;
                box-shadow: 0px 8px 16px 0px #ABBED166;


                p {
                    width: 285px;
                    height: 84px;
                    text-align: center;
                    color: var(--paraTXT);
                    font-weight: 600;
                    line-height: 28px;
                    font-size: 20px;
                }
                .read-more {
                    width: 285px;
                    height: 44px;
                    padding: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    h3 {
                        width: 99px;
                        height: 28px;
                        color: var(--buttColor);
                        cursor: pointer;
                        font-weight: 600;
                        line-height: 28px;
                        font-size: 20px;
                    }
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    .community-content2 {
        flex-direction: column;
        align-items: center;
        gap: 8rem;
    }
}

/* end Hadi style */